<launch>

  <arg name="publish_transform" default="True"></arg>

  <group if="$(arg publish_transform)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_calibration" args="0.020855 0.02423 0.0044007 -0.0082042 0.017703 0.02978 0.99937 realsense_link camera_link" />
  </group>

  <group unless="$(arg publish_transform)"> 
    <arg name="command_args" value="-d $(find tiago_clf_launch)/config/calibrate.rviz" />
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="$(arg command_args)" output="log"/>
  </group>

</launch>